html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Header */
header {
    background: #000;
    padding: 40px 0;
    color: #fff;
    text-align: center;
}
header h1 {
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 10px;
}

/* Main */
main {
    padding: 40px 30px;
}
main h2 {
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: 400;
    padding-bottom: 20px;
}
main a {
    color: #000;
    text-decoration: none;
}

/* Step 1 */
.step1 a {
    line-height: 28px;
}
.step1 span {
    background: #000;
    padding: 5px 10px;
    border-radius: 3px;
    float: right;
}
.step1 span a {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 3px;
}
.step1 .full {
    display: block;
    color: #fff;
    float: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    margin: 60px 0 0 0;
    letter-spacing: 3px;
}

/* Step 2 */
.step2 h2 {
    text-align: center;
    line-height: 1.8;
}
.step2 .nav {
    margin: 40px 0 0 0;
}
.step2 .arrow {
    width: 200px;
    height: 300px;

    background: url("../img/arrow.png") no-repeat;

    display: block;
    margin: 0 auto;

    transform: rotate(15deg);
}

.step2 .distance {
    color: #fff;
    text-align: center;
    display: block;
    padding-top: 70px;
}